/* line 1, ../sass/main.sass */
body {
  overflow-x: hidden; }

/* line 4, ../sass/main.sass */
a {
  outline-color: transparent; }
  /* line 6, ../sass/main.sass */
  a:hover {
    cursor: pointer; }

/* line 10, ../sass/main.sass */
#myModal select {
  padding: 0 20px;
  font-size: 19px; }
/* line 13, ../sass/main.sass */
#myModal .modal-content {
  border: 3px solid #FED417; }
  /* line 16, ../sass/main.sass */
  #myModal .modal-content .form-group label {
    font-size: 23px; }
  /* line 18, ../sass/main.sass */
  #myModal .modal-content .form-group input[placeholder] {
    font-size: 20px; }
  /* line 20, ../sass/main.sass */
  #myModal .modal-content .form-group input {
    padding: 1% 7%;
    text-align: center; }
  /* line 23, ../sass/main.sass */
  #myModal .modal-content .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid #FBAD18;
    width: 300px;
    border-radius: 13px; }
    /* line 29, ../sass/main.sass */
    #myModal .modal-content .form-group select:focus {
      border-color: #FBAD18;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline-color: transparent; }
/* line 33, ../sass/main.sass */
#myModal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 37, ../sass/main.sass */
  #myModal form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    background-color: #FAAD1B;
    height: auto;
    font-size: 30px;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 13px;
    border: none; }
/* line 49, ../sass/main.sass */
#myModal .form-group input {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  border: 3px solid #FBAD18;
  border-radius: 13px; }
/* line 55, ../sass/main.sass */
#myModal .form-group input[placeholder] {
  font-size: 20px; }

/* line 59, ../sass/main.sass */
#myModalCallBack .modal-content {
  border: 3px solid #FED417; }
/* line 61, ../sass/main.sass */
#myModalCallBack form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 66, ../sass/main.sass */
  #myModalCallBack form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    background-color: #FAAD1B;
    height: auto;
    font-size: 30px;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 13px;
    border: none; }
/* line 78, ../sass/main.sass */
#myModalCallBack .form-group label {
  font-size: 23px; }
/* line 80, ../sass/main.sass */
#myModalCallBack .form-group input[placeholder] {
  font-size: 20px; }
/* line 82, ../sass/main.sass */
#myModalCallBack .form-group input {
  padding: 1% 7%;
  text-align: center; }
/* line 85, ../sass/main.sass */
#myModalCallBack .form-group input {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  border: 3px solid #FBAD18;
  border-radius: 13px; }

/* line 93, ../sass/main.sass */
#ModalGroup .modal-content {
  border: 3px solid #FED417; }
/* line 95, ../sass/main.sass */
#ModalGroup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 99, ../sass/main.sass */
  #ModalGroup form label {
    font-size: 23px; }
  /* line 101, ../sass/main.sass */
  #ModalGroup form input[placeholder] {
    font-size: 20px; }
  /* line 103, ../sass/main.sass */
  #ModalGroup form input {
    padding: 1% 7%;
    text-align: center; }
    /* line 106, ../sass/main.sass */
    #ModalGroup form input:focus {
      border-color: #FBAD18;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline-color: transparent; }
  /* line 111, ../sass/main.sass */
  #ModalGroup form select {
    padding: 0 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid #FBAD18;
    width: 300px;
    border-radius: 13px; }
    /* line 118, ../sass/main.sass */
    #ModalGroup form select:focus {
      border-color: #FBAD18;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline-color: transparent; }
  /* line 122, ../sass/main.sass */
  #ModalGroup form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    background-color: #FAAD1B;
    height: auto;
    font-size: 30px;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 13px;
    border: none; }
/* line 134, ../sass/main.sass */
#ModalGroup .form-group input {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  border: 3px solid #FBAD18;
  border-radius: 13px; }

/* line 144, ../sass/main.sass */
header .telephone {
  color: black; }
  /* line 146, ../sass/main.sass */
  header .telephone:hover {
    text-decoration: none; }
/* line 148, ../sass/main.sass */
header .whatsapp {
  background-color: green;
  color: white;
  border-radius: 24px;
  width: 40px !important;
  height: 40px;
  padding: 7px; }
/* line 155, ../sass/main.sass */
header .fa-telegram {
  width: 40px !important;
  height: 40px;
  color: #2E80C5; }
/* line 159, ../sass/main.sass */
header .colorFullText {
  color: #E7842A;
  font-family: "ArialBold"; }
/* line 162, ../sass/main.sass */
header .fontClass {
  font-family: "ArialBold"; }
/* line 164, ../sass/main.sass */
header .box {
  background: url("../img/background.png") right no-repeat, url("../img/background2.png") left repeat-y;
  background-size: cover;
  color: white; }
  /* line 168, ../sass/main.sass */
  header .box h1 {
    font-weight: bold;
    font-family: "ArialBold";
    font-size: 41px; }
  /* line 173, ../sass/main.sass */
  header .box p {
    font-weight: bold;
    font-family: "ArialBold";
    font-size: 23px; }
  /* line 177, ../sass/main.sass */
  header .box .buttonModal {
    font-family: "ArialBold";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 240px;
    background-color: #FAAD1B;
    border: 2px solid white;
    height: 46px;
    font-size: 23px;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 40px;
    text-transform: uppercase;
    margin-bottom: 140px; }
    /* line 191, ../sass/main.sass */
    header .box .buttonModal:hover {
      color: white;
      text-decoration: none; }
/* line 195, ../sass/main.sass */
header h1 {
  font-family: "ArialBold";
  font-weight: bold;
  font-size: 25px; }
/* line 199, ../sass/main.sass */
header span {
  font-family: "ArialBold";
  font-weight: bold;
  font-size: 25px; }
/* line 203, ../sass/main.sass */
header .headerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FAAD1B;
  width: 240px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none; }

/* line 215, ../sass/main.sass */
main #white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
/* line 218, ../sass/main.sass */
main #blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* line 221, ../sass/main.sass */
main .classForP {
  font-family: "ArialBold";
  font-size: 22px; }
/* line 224, ../sass/main.sass */
main .buttonModal {
  font-family: "ArialBold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  background-color: #FAAD1B;
  height: 40px;
  font-size: 30px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px; }
  /* line 235, ../sass/main.sass */
  main .buttonModal:hover {
    color: white;
    text-decoration: none; }

/* line 240, ../sass/main.sass */
footer .number {
  font-size: 50px;
  margin-right: 5px; }
/* line 245, ../sass/main.sass */
footer form .form-group input[placeholder] {
  font-size: 20px; }
/* line 247, ../sass/main.sass */
footer form .form-group input {
  padding: 1% 7%;
  text-align: center; }
  /* line 250, ../sass/main.sass */
  footer form .form-group input:focus {
    border-color: #FBAD18;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-color: transparent; }
/* line 255, ../sass/main.sass */
footer form .form-group select {
  padding: 0 20px;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 3px solid #FBAD18;
  width: 300px;
  border-radius: 13px; }
  /* line 263, ../sass/main.sass */
  footer form .form-group select:focus {
    border-color: #FBAD18;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline-color: transparent; }
/* line 267, ../sass/main.sass */
footer #dog {
  margin-top: 30px; }
/* line 269, ../sass/main.sass */
footer p {
  font-size: 23px;
  font-family: Arial; }
/* line 272, ../sass/main.sass */
footer span {
  font-size: 30px;
  font-family: Arial; }
/* line 275, ../sass/main.sass */
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* line 280, ../sass/main.sass */
footer .form-group input {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  border: 3px solid #FBAD18;
  border-radius: 13px; }
/* line 286, ../sass/main.sass */
footer hr {
  height: 10px;
  background-color: #FED934; }
/* line 290, ../sass/main.sass */
footer .downBlock span {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px; }
/* line 294, ../sass/main.sass */
footer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  background-color: #FAAD1B;
  height: auto;
  font-size: 30px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 13px;
  border: none; }
  /* line 305, ../sass/main.sass */
  footer button:hover {
    color: white;
    text-decoration: none; }
/* line 308, ../sass/main.sass */
footer b {
  font-size: 50px;
  font-weight: bold;
  position: relative; }
/* line 312, ../sass/main.sass */
footer svg {
  width: 100%;
  color: red;
  position: absolute;
  height: 100%;
  left: 0; }

/*# sourceMappingURL=main.css.map */